#mystyle{
    background-color: rgb(42, 116, 165);
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    text-shadow: 3px 3px 5px red;
    text-decoration-line:overline;   
  }
  .mystyle1{
    background-color: rgb(255, 136, 0);
    border-radius: 5px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    border-width: 5px;
    border-color: blue;
    text-decoration-line:overline;
    text-shadow: 3px 3px 5px violet;
    
     

    
  
  }